<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8c7ae">  <td>18/01/10 14:28:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.ing.LoginTest@4eb7f003]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22069592</td>   <td></td> </tr>
<tr bgcolor="a8c7ae">  <td>18/01/10 14:28:24</td>   <td>9488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.test_HomePage()[pri:0, instance:com.ing.LoginTest@4eb7f003]">test_HomePage</td> 
  <td>main@22069592</td>   <td></td> </tr>
<tr bgcolor="a8c7ae">  <td>18/01/10 14:28:43</td>   <td>28486</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:com.ing.LoginTest@4eb7f003]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22069592</td>   <td></td> </tr>
</table>
