<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8c7ae">  <td>18/01/10 14:00:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.ing.LoginTest@63440df3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="a8c7ae">  <td>18/01/10 14:00:54</td>   <td>9181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.test_HomePage()[pri:0, instance:com.ing.LoginTest@63440df3]">test_HomePage</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="a8c7ae">  <td>18/01/10 14:01:00</td>   <td>15393</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:com.ing.LoginTest@63440df3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
</table>
